<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h3>What's New:</h3>

<% @news_items.each do |news_item| %>
<div class="entry">
<%= image_tag(news_item.image_url) %>
<h3><%= news_item.published_on %></h3>
<%= sanitize(news_item.content) %>
</div>
<% end %>
