		<div id="primarycontent">

			<!-- primary content start -->

			<div class="post">
				<div class="header">
					<h3>Photo Gallery</h3>
				</div>
				

				<div class="content">
       			 	<LI><A HREF="/gallery/2003CaymanBrac/RobsPictures/index.html">Cayman Brac 2003</A>
   					<LI><A HREF="/gallery/2003OldRagHike/index.html">Old Rag Hike 2003</A>
   					<LI><A HREF="/gallery/2004LakeTahoe/index.html">Tahoe 2004</A>
                	<LI><A HREF="/gallery/2008_Colorado/album/index.html">Colorado 2008</A>
                	<LI><A HREF="/gallery/2009_Colorado/2009_Colorado/album/index.html">Colorado 2009</A>

					<br><br><em>Germany 2011 Trip</em><br>
					<LI><A HREF="/gallery/2011Germany/Drive%20To%20Garmisch/album/index.html">Drive to Garmisch</A>
					<LI><A HREF="/gallery/2011Germany/Linderhof%20Palace/album/index.html">Linderhof Palace</A>
					<LI><A HREF="/gallery/2011Germany/Berchtesgaden%20Tour/album/index.html">Berchtesgaden Tour</A>
					<LI><A HREF="/gallery/2011Germany/Three%20Country%20Tour/album/index.html">Three Country Tour</A>
					<LI><A HREF="/gallery/2011Germany/Bolzano%20Italy%20Tour/album/index.html">Bolzano Italy Tour</A>
					<LI><A HREF="/gallery/2011Germany/Partnach%20Gorge/album/index.html">Partnach Gorge</A>
					<LI><A HREF="/gallery/2011Germany/Drive%20to%20Schweinfurt/album/index.html">Drive to Schweinfurt</A>
                      <br><br>
					<LI><A HREF="/gallery/2011%20Fruita%20CO%20Moab%20UT%20Mountain%20Bike%20Trip/album/index.html">Fruita and Moab 2011</A>
                      <br><br>
					<LI><A HREF="http://www.goldmishpacha.com/Vacation/Mans-Trip-Colorado-2015/n-drJfTf">Hiking Colorado 2015</A>
                      <br><br>
					<LI><A HREF="https://goo.gl/photos/S67s11K41TrqXW5w7">Florida Trip 2016</A>
					<br><br><em>South Carolina Trip 2019</em><br>
					<LI><A HREF="https://photos.app.goo.gl/nPZEf7njnf3eG44r6">Charleston, Liberty Square, and Ft. Sumter</A>
					<LI><A HREF="https://photos.app.goo.gl/hXnETxjJCdX5jE7P8">Patriot's Point</A>
                                        <LI><A HREF="https://photos.app.goo.gl/DkaSLdH9fpmGBqsR9">Isle of Palms</A>
                                        <LI><A HREF="https://photos.app.goo.gl/WG9dLd7HksKb1SaZA">Bull's Island Hike</A>
                                        <LI><A HREF="https://photos.app.goo.gl/oxTFf3aJdFfEoMnbA">Center for the Birds Of Prey</A>
                                        <LI><A HREF="https://photos.app.goo.gl/h4iPJ2VjzXQwmqkAA">Ft. Moultrie</A>

				</div>			
			</div>
		
			<!-- primary content end -->
	
		</div>
