<h1>Listing news items</h1>

<table>
<% @news_items.each do |news_item| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

<td class="list_published_on">
<dl>
<dd><%= news_item.published_on %></dd>
</dl>
</td>
<td>
<%= image_tag(news_item.image_url, class: 'list_image') %>
</td>
<td class="list_content">
<dl>
<dd><%= truncate(strip_tags(news_item.content),
length: 80) %></dd>
</dl>
</td>
<td class="list_actions">
<%= link_to 'Show', news_item %><br/>
<%= link_to 'Edit', edit_news_item_path(news_item) %><br/>
<%= link_to 'Destroy', news_item, method: :delete,
data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</table>
<br />

<%= link_to 'New News item', new_news_item_path %>
