<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @news_item.content %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @news_item.published_on %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @news_item.image_url %>
</p>

<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>
