<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>RobHughes.net</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
<div id="outer">
  <div id="upbg"></div>

  <div id="inner">
  
    <div id="header">
      <h1>robhughes.net<sup>2.0</sup></h1>
      <br>
      <h2>...a work in progress</h2>
    </div>

    <div id="splash"></div>
   
    <div id="menu">
      <ul>
        <li> <%= link_to "Home", root_path %></li>
        <li> <%= link_to "Photos", say_photos_path %></li>
        <% if session[:user_id] %>
          <li><%= link_to 'News Items', news_items_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% end %>
      </ul>
<!--
      <% if session[:user_id] %>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
-->
      <div id="date"><%= Time.now.strftime("%A %B #{Time.now.day.ordinalize} %Y") %></div>
    </div> <!-- menu -->
  </div> <!-- inner -->
    
  <div id="main">
    <%= yield %>
  </div> <!-- main -->
</div> <!-- outer --> 
</body>
</html>
